body {
margin: 0;
background-color: #1e1e1e;
font-family: 'Inter', sans-serif;
}
h1, h2, h3, h4, h5, h6, p, ul, ol, blockquote {
margin: 0;
padding: 0;
}
.content-section {
box-sizing: border-box;
width: 360px;
min-height: 60px;
margin: auto;
}
.content-section_theme_dark {
color: #fff;
background-color: black;
}
.content-section_theme_bright {
color: #131313;
background-color: #FEE42A;
}
.header {
padding: 24px 20px;
display: flex;
justify-content: space-between;
align-items: flex-start;
}
.cover {
padding: 7px 24px 32px 20px;
}
.intro {
padding: 0 20px 38px;
}
.reasons {
padding: 40px 20px;
}
.how-to {
padding: 40px 20px 60px;
}
.footer {
padding: 20px;
}
.header_menu_link {
color: #fff;
}
.header_logo {
display: block;
width: 79px;
height: 19px
}
.header_menu_list {
list-style: none;
}
.header_menu_item_active {
text-decoration: none;
}
.cover {
display: block;
 background-image: url(../images/cover.svg);
 background-repeat: no-repeat;
 background-position: right center;
 background-size: 95% auto;
}
.cover_title {
font-family: 'EB Garamond', serif; 
font-weight: 400;
width: 100%;
font-size: 72px;
}
.accent_span {
display: block;
}
.text-left {
text-align: left;
}
.text-center {
text-align: center;
}
.text-right {
text-align: right;
}
.intro {
display: flex;
flex-direction: column;
}

.intro_heading {
display: flex;
justify-content: space-between;

}
.intro_title {
font-size: 16px;
color: #CCCCCC;
font-weight: 203;

}
.intro_date {
font-size: 16px;
color: #CCCCCC;
white-space: nowrap;
}
.intro_main_text {
display: flex;  
font-size: 16px;
color: #F5F5F5;
font-weight: 320;
flex-direction: column;
gap: 24px;

}
.content-section__subtitle {
  font-size: 28px;
  font-family: 'EB Garamond', serif;
  font-weight: 400;
}
.reasons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 35px;
}
.content-section__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.content-section__introduction {
font-size: 20px;
font-weight: 400;
}
.content-section__list-item {
  font-size: 16px;
}
.content-section__list-accent {
font-weight: bold;
}
.card {
 border-radius: 30px;
 padding: 20px;
}
.card_theme_dark {
background-color: #343434;
}

.card-author-photo {
width: 100px;
height: 100px;
}
.card-author-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 16px;
}
.card-title {
font-family: 'EB Garamond', serif;
font-size: 22px;
font-weight: 400;
}
.card-text {
font-size: 16px;
font-weight: 400;
}
.card-margin {
margin-bottom: 32px;
}
.how-to-margin {
  margin-bottom: 32px;
}
.card_theme_bright {
  background-color: #FEE42A;
  color: #131313;
  font-size: 16px;
  font-weight: 400;
}
.footer {
display: flex;
justify-content: space-between;
align-items: center;
border-top: 1px solid #FEE42A;
padding: 20px;
}